/* Estilos usados em todo o site */
@import '/css/global/global.css';
@import '/css/utilities/typography.css';
@import '/css/utilities/colors.css';

/* Estilo do header e do footer, presente em todas as p치ginas */
@import '/css/global/header.css';
@import '/css/global/footer.css';

/* Utilit치rios */
@import '/css/utilities/components.css';

/* P치gina home */
@import '/css/home/introduction.css';
@import '/css/bikes/bikes-list.css';
@import '/css/home/tecnologys.css';
@import '/css/home/partners.css';
@import '/css/home/testimony.css';
@import '/css/safes/safe.css';

/* P치gina de termos */
@import '/css/terms/terms.css';

