.bike {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    gap: 40px;
    padding-top: 60px;
    padding-bottom: 60px;
}

#bike .title p{
    text-transform: uppercase;
}

.bike-image {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.bike-image img {
    flex: 1;
    min-width: 200px;
}

.bike-image img:first-child {
    min-width: 100%;
}

.bike-content > p {
    margin-bottom: 32px;
}

.bike-buy {
    display: grid;
    grid-template-columns: max-content auto;
    align-items: center;
    justify-items: start;
    gap: 8px 12px;
}

.bike-buy a {
    grid-row: span 2;
}

.bike-buy span {
    display: flex;
    align-items: center;
    gap: 8px;
    background: var(--cor-12);
    padding: 4px 8px;
    border-radius: 4px;
}

.bike-content h2 {
    text-transform: uppercase;
    letter-spacing: 0.015rem;
    margin-bottom: 12px;
    margin-top: 40px;
}

.bike-content ul {
    background: var(--cor-12);
    border-radius: 4px;
    padding: 32px;
}

.bike-infos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
}

.bike-infos img {
    width: 24px;
}

.bike-infos img,
.bike-infos h3 {
    margin-bottom: 8px;
}

.bike-token li {
    padding: 4px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--cor-11);
}

.bike-token li:last-child {
    border-bottom: none;
}

.bike-token span {
    color: var(--cor-6);
}

@media (max-width: 800px) {
    .bike {
        grid-template-columns: 1fr;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .bike-image {
        grid-row: 2;
    }
}

@media (max-width: 400px) {
    .bike-buy {
        grid-template-columns: 1fr;
    }

    .bike-infos {
        grid-template-columns: 1fr;
    }
}